@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');

$gradient: linear-gradient(45deg, #BA5370,  #F4E2D8);
$ff-primary:'Paytone One', sans-serif;
$ff-secondary:'Cutive Mono', monospace ;  

body{
     height: 100%;
     background: $gradient;
}