@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');

$colors: (    
     gradient:  linear-gradient(45deg, #BA5370,  #F4E2D8),
     primary: #BA5370,
     secondary: #F4E2D8,
     primary-d: darken(#BA5370, 5%),
);

$ff-primary: 'Paytone One', sans-serif;
$ff-secondary: 'Cutive Mono', monospace;
$transition: all .3s linear;

@function colors($name){
    @return map-get($colors, $name);
}


*{
     margin: 0;
     padding: 0;
     list-style: none;
}

body, html{
     height: max-content;
     background: colors(gradient);
     z-index: 1;
}

.text{
     text-align: center;
     font-size: .85em;
     padding: .5em;
     line-height: 1.9em;
     color: rgb(43, 43, 43);
     font-family: $ff-secondary;
     font-weight: bold;
}

.btn{
     color: colors(secondary);
     text-decoration: none;
     transition: $transition;
     padding: .3em;
     border-radius: 1em;
     font-size: 1em;
     border: 2px solid colors(secondary);       

     &:focus, &:hover{
          background: colors(primary);
          color: colors(secondary);
          cursor: pointer;
     }
}

.btn-account{
     width: max-content;
     align-self: center;
     border: 2px solid colors(primary);
     margin: 1.5em 0 1.5em 0;
     background: colors(primary);
     color: colors(secondary);
}

nav{
     position: fixed;
     bottom: 0;
     font-family: $ff-primary;
     color: colors(secondary);
     width: 100%;
     height: 20%;
     z-index: 10;

     background: rgb(48, 48, 48);
     h1{
          font-size: 2.1em;
          margin: .5em 0 .5em 0;
          width: 100%;

          p{
               margin: .5em;
               text-align: center;
          }
     }

     ul{
          display: flex;
          width: 100%;
          justify-content: space-around;

          li{
               text-align: center;
               margin-bottom: 1em;
          }
     }
}

main{

     padding: 1em;
     display: flex;
     flex-direction: column;
     font-family: $ff-primary;
     padding-bottom: 25vh;

     div{
          display: flex;
          padding: 1em;
          color: colors(secondary);
          flex-direction: column;
          text-align: center;
          margin-top: 1.5em;
          justify-content: space-between;
          font-family: $ff-secondary;
          p{
               margin: .5em;
          }
     }



     header{

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h1{
               padding: 1em;
               text-align: center;
               color: black;
               width: 80% auto;
               font-size: 1.7em;
          }

          img{
               width: 90%;
               align-self: center;
          }
     }

     article{
          margin-top: 2em;
          padding: 1em;
          background: rgba(black, .1);
          display: flex;
          flex-direction: column;
          h1{
               text-align: center;
               font-size: 1.9em;
               margin-bottom: .5em;
          }

          img{
               position: relative;
               width: 90%;
               margin: 1em;
               
          }

     }
     
     footer{
          margin-top: 2em;
          padding: 1em;
          text-align: center;
          position: relative;
          z-index: 5;
          background: rgba(black, .1);
          
          ul{
               margin-bottom: 1em;
               padding: 1em;
               opacity: 100%; 
               h1{
                    font-size: 1.7em;
               }
          }

          span{
               text-decoration: underline;
               color: darken(colors(primary), 30%);
               opacity: 100%;
          }

          img{
               position: relative;
               width: 90%;
               margin: 1em;
               
          }

          
     }
}

