@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');

$colors: (    
     gradient:  linear-gradient(45deg, #BA5370,  #F4E2D8),
     primary: #BA5370,
     secondary: #F4E2D8,
     primary-d: darken(#BA5370, 30%)
);

$ff-primary: 'Paytone One', sans-serif;
$ff-secondary: 'Cutive Mono', monospace;
$transition: all .3s linear;

@function colors($name){
    @return map-get($colors, $name);
}


*{
     margin: 0;
     padding: 0;
     list-style: none;
}

body, html{
     height: 100%;
     background: colors(gradient);
}

nav{
     position: fixed;
     bottom: 0;
     font-family: $ff-primary;
     color: colors(secondary);
     width: 100%;
     
     background: rgb(48, 48, 48);
     h1{
          font-size: 2em;
          margin: .5em 0 .5em 0;
          width: 100%;

          p{
               margin: .5em;
               text-align: center;
          }
     }

     ul{
          display: flex;
          width: 100%;
          justify-content: space-around;
          li{
               text-align: center;
               margin-bottom: 1em;
               a{
                    color: colors(secondary);
                    text-decoration: none;
                    transition: $transition;
                    padding: .3em;
                    border-radius: 1em;
                    font-size: .8em;
                    border: 2px solid colors(secondary);
                    &:hover{
                         background: colors(primary);
                         color: colors(secondary);
                    }
               }
          }
     }
}

main{
     padding: 1em;
     display: flex;
     header{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1{
               padding: 1em;
               text-align: center;
               color: black;
               font-family: $ff-primary;
               width: 80% auto;
          }
          img{
               width: 100%;
               align-self: center;
          }
     }

     

}